@import 'tailwindcss';

@theme {
  /* Colors */
  --color-primary: var(--primary);
  /* Fonts */
  --font-euxoi: var(--font-euxoi);
  --font-pokemon: var(--font-pokemon);
  /* Other */
  --tracking-pokemon: -1px;
  --tracking-euxoi: 1px;
}

:root {
  /* Putting colors here to have a preview */
  --primary: oklch(0.2219 0.0162 11.75);
}
