@import 'tailwindcss';

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-primary-strong: var(--primary-strong);
  --color-secondary: var(--secondary);
  --color-secondary-strong: var(--secondary-strong);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  /* Fonts */
  --font-euxoi: var(--font-euxoi);
  --font-pokemon: var(--font-pokemon);
  /* Other */
  --tracking-pokemon: -2px;
  --tracking-euxoi: 1px;
}

:root {
  /* Light Mode */
  --primary: oklch(87.61% 0.0001 271.152);
  --primary-strong: oklch(0.7374 0.1193 305.46);
  --secondary: oklch(2% 0.02481 298.696);
  --secondary-strong: oklch(27.316% 0.10063 311.611);
  --ctext: black;
  /* General */
  --green: oklch(0.8803 0.1348 140);
  --yellow: oklch(0.8803 0.1348 86.06);
}

.dark {
  /* Dark mode */
  --primary: oklch(2% 0.02481 298.696);
  --primary-strong: oklch(27.316% 0.10063 311.611);
  --secondary: oklch(87.61% 0.0001 271.152);
  --secondary-strong: oklch(0.7374 0.1193 305.46);
  --ctext: white;
}

@layer base {
  p,
  span {
    color: var(--ctext);
    font-family: var(--font-euxoi);
    letter-spacing: 1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--secondary-strong);
    font-family: var(--font-pokemon);
    letter-spacing: -2px;
  }
}

.joypad {
  animation: bob 1s steps(1) infinite;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
}
