@import 'tailwindcss';

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-primary-strong: var(--primary-strong);
  --color-secondary: var(--secondary);
  --color-secondary-strong: var(--secondary-strong);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-ctext: var(--ctext);
  /* Fonts */
  --font-euxoi: var(--font-euxoi);
  --font-pokemon: var(--font-pokemon);
  /* Other */
  --tracking-pokemon: -2px;
  --tracking-euxoi: 1px;
}

:root {
  /* Light Mode */
  --primary: oklch(94.215% 0.01032 310.795);
  --primary-strong: oklch(0.7374 0.1193 305.46);
  --secondary: oklch(2% 0.02481 298.696);
  --secondary-strong: oklch(0.3967 0.1894 300.32);
  --ctext: black;
  /* General */
  --green: oklch(0.6721 0.148 161.33);
  --yellow: oklch(0.8301 0.1592 79.93);
}

.dark {
  /* Dark mode */
  --primary: oklch(2% 0.02481 298.696);
  --primary-strong: oklch(0.3967 0.1894 300.32);
  --secondary: oklch(94.215% 0.01032 310.795);
  --secondary-strong: oklch(0.7374 0.1193 305.46);
  --ctext: white;
}

@layer base {
  p,
  span {
    color: var(--ctext);
    font-family: var(--font-euxoi);
    letter-spacing: 1.5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--secondary-strong);
    font-family: var(--font-pokemon);
    letter-spacing: -2px;
  }
}

.animate-bob-1 {
  animation: bob-1 1s steps(1) infinite;
}

@keyframes bob-1 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1px);
  }
}

.animate-bob-2 {
  animation: bob-2 1s steps(1) infinite;
}

@keyframes bob-2 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
}
